.gameover-button {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 35px;
    margin-bottom: 30px;
    background-image: url("project://database/Assets/GUI/Textures/RectButtons/button_rectangle_depth_flat.png?fileID=2800000&guid=fcc14b3877845b74bbd567ffe9ca519c&type=3#button_rectangle_depth_flat");
}
